*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}
#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 16px;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
